<section class="projects">
	<div class="grid">
		<article class="project is-6 is-relative">
			<img class="is-block is-marginless" src="/assets/imgs/jewelry/MG_2674.jpg" alt="Project Image">
			<header class="has-text-centered has-anim-reveal is-overlay has-flex-centered-contents has-bg-light-transparent is-anim-trigger">
				<div class="has-anim-slide-down-triggered">
					<p class="has-margin-bottom-small"><span class="label">Earrings</span></p>
					<h3 class="is-h2"><a href="/products/1" class="link is-accented">Blue Opal & Silver Earrings</a></h3>
					<p class="has-margin-top-small is-marginless-bottom"><a href="/products/1" class="btn btn-hover-white small-caps">View the Project <i class="fa fa-chevron-right"></i></a></p>
				</div>
			</header>
		</article>
		<article class="project is-6 is-relative">
			<img class="is-block is-marginless" src="/assets/imgs/jewelry/MG_2744.jpg" alt="Project Image">
			<header class="has-text-centered has-anim-reveal is-overlay has-flex-centered-contents has-bg-light-transparent is-anim-trigger">
				<div class="has-anim-slide-down-triggered">
					<p class="has-margin-bottom-small"><span class="label">Earrings</span></p>
					<h3 class="is-h2"><a href="/products/1" class="link is-accented">Blue Opal & Silver Earrings</a></h3>
					<p class="has-margin-top-small is-marginless-bottom"><a href="/products/1" class="btn btn-hover-white small-caps">View the Project <i class="fa fa-chevron-right"></i></a></p>
				</div>
			</header>
		</article>
		<article class="project is-6 is-relative">
			<img class="is-block is-marginless" src="/assets/imgs/jewelry/MG_2689.jpg" alt="Project Image">
			<header class="has-text-centered has-anim-reveal is-overlay has-flex-centered-contents has-bg-light-transparent is-anim-trigger">
				<div class="has-anim-slide-down-triggered">
					<p class="has-margin-bottom-small"><span class="label">Earrings</span></p>
					<h3 class="is-h2"><a href="/products/1" class="link is-accented">Blue Opal & Silver Earrings</a></h3>
					<p class="has-margin-top-small is-marginless-bottom"><a href="/products/1" class="btn btn-hover-white small-caps">View the Project <i class="fa fa-chevron-right"></i></a></p>
				</div>
			</header>
		</article>
		<article class="project is-6 is-relative">
			<img class="is-block is-marginless" src="/assets/imgs/jewelry/MG_2733.jpg" alt="Project Image">
			<header class="has-text-centered has-anim-reveal is-overlay has-flex-centered-contents has-bg-light-transparent is-anim-trigger">
				<div class="has-anim-slide-down-triggered">
					<p class="has-margin-bottom-small"><span class="label">Earrings</span></p>
					<h3 class="is-h2"><a href="/products/1" class="link is-accented">Blue Opal & Silver Earrings</a></h3>
					<p class="has-margin-top-small is-marginless-bottom"><a href="/products/1" class="btn btn-hover-white small-caps">View the Project <i class="fa fa-chevron-right"></i></a></p>
				</div>
			</header>
		</article>
	</div>
</section>