<footer class="site__footer">
	<div class="container has-padding-vert-small">
		<div class="columns is-align-center is-justified">
			<div class="column is-narrow">
				<nav class="nav nav-social is-centered">
					<a href="#" class="btn is-small btn-hover circle"><i class="fa fa-fw fa-facebook"></i></a>
					<a href="#" class="btn is-small btn-hover circle"><i class="fa fa-fw fa-twitter"></i></a>
					<a href="#" class="btn is-small btn-hover circle"><i class="fa fa-fw fa-dribbble"></i></a>
					<a href="#" class="btn is-small btn-hover circle"><i class="fa fa-fw fa-instagram"></i></a>
				</nav>
			</div>
			<div class="column is-narrow has-text-right">
				<p><a href="{{site.url}}">{{site.title}}</a> &copy; {{ site.time | date: "%Y" }}. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
